/*--------------------------------------------------------------
# Layout and structure
--------------------------------------------------------------*/

body,
h1, h2, h3, h4, h5, h6 {
	color: $brand-blue--dark;
}

.site-header,
.site-footer {
	line-height: 2.938;
	padding: 1em;
}

/* Site header */
.site-header {
	background: $brand-green--light;
	position: fixed;
	width: 100%;
	z-index: 99999;

	.site-title {
		display: block;
		font-size: 1.5em;
		font-weight: bold;
		margin: 0;
	}
}

/* Site footer */
.site-footer {
	background: $brand-blue;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

.lead {
	font-size: 1.5em;
}

/*--------------------------------------------------------------
# Panels
--------------------------------------------------------------*/

.pane__title {
	line-height: $heading-line-height;
	font-weight: bold;
}

/* Introduction */
.pane--intro {
	background: $brand-blue url('../images/contra-a-reducao.jpg') no-repeat;
	background-size: cover;
	color: #fff;

	.pane__title {
		color: $brand-green--light;
	}
}

/* Network */
.pane--network {
	.network__item {
		background: $brand-yellow;
		line-height: 1;
		padding: 1.5em;
		text-align: center;

		&:nth-child(1) {
			background: $brand-green;
		}

		&:nth-child(2) {
			background: $brand-yellow;
		}

		&:nth-child(3) {
			background: $brand-pink;
		}

		&:nth-child(4) {
			background: $brand-green--light;
		}

		.network__number,
		.network__text {
			display: block;
		}

		.network__number {
			font-size: 4em;
			font-weight: bold;
		}

		.network__text {
			text-transform: uppercase;
		}
	}
}

/* Services */
.pane--services {
	background-color: $brand-yellow;

	.service__item {
		.service__title {
			color: inherit;
			font-size: 1.25em;
			font-weight: bold;
			line-height: $heading-line-height;
		}
	}
}
