/*--------------------------------------------------------------
# Layout and structure
--------------------------------------------------------------*/

body,
h1, h2, h3, h4, h5, h6 {
	color: $brand-text;
}

.pane:nth-child(even) {
	background: $brand-secondary;
}

.site-header,
.site-footer {
	padding: 1em;
}

/* Site header */
.site-header {
	background: $brand-five;
	position: fixed;
	width: 100%;
	z-index: 99999;


	.site-title {
		font-size: 1.5em;
		font-weight: bold;
		margin: 0;
	}
}

/* Site footer */
.site-footer {
	background: $brand-one;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

.lead {
	font-size: 1.5em;
}

/*--------------------------------------------------------------
# Panels
--------------------------------------------------------------*/

.pane__title {
	color: $brand-one;
	line-height: 1.2;
	font-weight: bold;
}

.pane--intro {
	background: $brand-one url('../images/ix-aldeia-multietnica.jpg') no-repeat;
	background-size: cover;
	color: #fff;

	.pane__title {
		color: $brand-five;
	}
}

/* Network */
.pane--network {
	.network__item {
		background: $brand-three;
		line-height: 1;
		padding: 1.5em;
		text-align: center;

		&:nth-child(1) {
			background: $brand-two;
		}

		&:nth-child(2) {
			background: $brand-three;
		}

		&:nth-child(3) {
			background: $brand-four;
		}

		&:nth-child(4) {
			background: $brand-five;
		}

		.network__number,
		.network__text {
			display: block;
		}

		.network__number {
			font-size: 4em;
			font-weight: bold;
		}

		.network__text {
			text-transform: uppercase;
		}
	}
}

/* Services */
.pane--services {
	background-color: $brand-three;

	.service__item {
		.service__title {
			color: inherit;
			font-size: 1.25em;
			font-weight: bold;
			line-height: $heading-line-height;
		}
	}
}
