// Brand colors
$brand-text: #0c101c; // Dark blue
$brand-one: #1a2b55; // Blue
$brand-two: #00a5a4; // Greenish blue
$brand-three: #f8ca14; // Yellow
$brand-four: #ee3753; // Pink
$brand-five: #c7d92e; // Green
$brand-six: #8b191b; // Dark red
$brand-seven: #d92726; // Red

$brand-secondary: #fbfbfb;

// Typography
$heading-line-height: 1.2;