$brand-text: #0c101c;

$brand-one: #1a2b55; // Blue
$brand-two: #00a5a4; // Greenish blue
$brand-three: #f8ca14; // Yellow
$brand-four: #ee3753; // Pink
$brand-five: #c7d92e; // Green

$brand-secondary: #fbfbfb;