/*--------------------------------------------------------------
# Main stylesheet
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout and structure
--------------------------------------------------------------*/
body,
h1, h2, h3, h4, h5, h6 {
  color: #0c101c;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

a {
  color: #1a2b55; }
  a:visited {
    color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: underline; }

.site-header,
.site-footer {
  padding: 1em; }

/* Site header */
.site-header {
  background: #c7d92e;
  line-height: 2.938;
  position: fixed;
  width: 100%;
  z-index: 99999; }
  .site-header .site-title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0; }

/* Site footer */
.site-footer {
  background: #1a2b55; }
  .site-footer a {
    color: #f8f7fc; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
p.lead {
  line-height: 1.4; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.site-navigation a {
  display: inline-block;
  padding: 0 0.25em; }

/*--------------------------------------------------------------
# Panels
--------------------------------------------------------------*/
.pane__header {
  margin-bottom: 2.5em; }

.pane__title {
  line-height: 1.2;
  font-weight: bold; }

/* Blocks */
.block__title {
  color: inherit;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.2; }

/* Introduction */
.pane--intro {
  background: #1a2b55 url("../images/contra-a-reducao.jpg") no-repeat;
  background-size: cover;
  color: #fff; }
  .pane--intro .pane__title {
    color: #c7d92e; }

/* Network */
.pane--network {
  background-color: #f8f7fc;
  background-image: url("../images/patterns/woof.png"); }
  .pane--network .network__item {
    background: #f8ca14;
    line-height: 1;
    padding: 1.5em;
    text-align: center; }
    .pane--network .network__item:nth-child(1) {
      background: #00a5a4; }
    .pane--network .network__item:nth-child(2) {
      background: #f8ca14; }
    .pane--network .network__item:nth-child(3) {
      background: #ee3753; }
    .pane--network .network__item:nth-child(4) {
      background: #c7d92e; }
    .pane--network .network__item .network__number,
    .pane--network .network__item .network__text {
      display: block; }
    .pane--network .network__item .network__number {
      font-size: 4em;
      font-weight: bold; }
    .pane--network .network__item .network__text {
      text-transform: uppercase; }

/* Services */
.pane--services {
  background-color: #f8ca14;
  background-image: url("../images/patterns/horizontal.png"); }

/* Development */
.pane--development {
  background-color: #00a5a4;
  background-image: url("../images/patterns/vertical--subtle.png"); }

/* Funding */
.pane--funding {
  background-color: #ee3753;
  background-image: url("../images/patterns/woof--subtle.png"); }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*--------------------------------------------------------------
# WordPress Defaults
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.single .content-area,
.page .content-area {
    margin-top: 10em;
}

/*--------------------------------------------------------------
# Delibera
--------------------------------------------------------------*/

#delibera {
	margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
}