/*--------------------------------------------------------------
# Main stylesheet
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout and structure
--------------------------------------------------------------*/
body,
h1, h2, h3, h4, h5, h6 {
  color: #0c101c; }

.pane:nth-child(even) {
  background: #fbfbfb; }

.site-header,
.site-footer {
  padding: 1em; }

/* Site header */
.site-header {
  background: #c7d92e;
  position: fixed;
  width: 100%;
  z-index: 99999; }
  .site-header .site-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0; }

/* Site footer */
.site-footer {
  background: #1a2b55; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.lead {
  font-size: 1.5em; }

/*--------------------------------------------------------------
# Panels
--------------------------------------------------------------*/
.pane__title {
  color: #1a2b55;
  line-height: 1.2;
  font-weight: bold; }

.pane--intro {
  background: #1a2b55 url("../images/ix-aldeia-multietnica.jpg") no-repeat;
  background-size: cover;
  color: #fff; }
  .pane--intro .pane__title {
    color: #c7d92e; }

.pane--network .network__item {
  background: #f8ca14;
  line-height: 1;
  padding: 1.5em;
  text-align: center; }
  .pane--network .network__item:nth-child(1) {
    background: #00a5a4; }
  .pane--network .network__item:nth-child(2) {
    background: #f8ca14; }
  .pane--network .network__item:nth-child(3) {
    background: #ee3753; }
  .pane--network .network__item:nth-child(4) {
    background: #c7d92e; }
  .pane--network .network__item .network__number,
  .pane--network .network__item .network__text {
    display: block; }
  .pane--network .network__item .network__number {
    font-size: 4em;
    font-weight: bold; }
  .pane--network .network__item .network__text {
    text-transform: uppercase; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# WordPress Defaults
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }
